<div id="app-container">
  <header>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <main class="main">
    <div class="main-container">
      <fbm-fretboards></fbm-fretboards>
    </div>
  </main>
  <button mat-fab class="floating-button" aria-label="Add new fretboard" (click)="onAddFretboardClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>

