<div class="controls-container">
  <mat-form-field>
    <mat-label>Root note</mat-label>
    <mat-select [value]="fretboard().rootNote()" (selectionChange)="onNoteSelected($event.value)">
      @for (note of notes; track note.name) {
        <mat-option [value]="note.name">{{note.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Scale</mat-label>
    <mat-select [value]="fretboard().scale()" (selectionChange)="onScaleSelected($event.value)">
      @for (scale of scaleNames; track scale) {
        <mat-option [value]="scale">{{scale}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
