<mat-accordion class="accordion-headers-align" multi="true">
  @for (fretboard of settings.fretboards(); track fretboard.id) {
    <mat-expansion-panel [expanded]="fretboard.expanded()" (opened)="fretboard.expanded.set(true)" (closed)="fretboard.expanded.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ fretboard.title() }} </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        Tuning: {{ fretboard.tuning() }} <br>
        Root Note: {{ fretboard.rootNote() }} <br>
        Scale: {{ fretboard.scale() }} <br>
      </div>

      <mat-action-row>
        <button mat-icon-button (click)="openRenameFretboardDialog(fretboard)" class="edit-title-button" aria-label="Edit fretboard title">
          <mat-icon matTooltip="Edit fretboard title">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteFretboardDialog(fretboard)" class="delete-fretboard-button" aria-label="Delete fretboard">
          <mat-icon matTooltip="Delete fretboard">delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  }
</mat-accordion>
